{% extends "base.jinja" %}

{% block content %}

{% for country in list_of_countries %}
<div class ="main_content">
<section class = "country_article">
    <h2>{{country.country_name}}</h2>
    <h3>Continent: {{country.continent}}</h3>
    <form class = "delete_button" action = "/countries/{{country.country_id}}/delete" method = "POST">
        <button class = "delete">Delete</button>
    </form>
</section>
</div>
{% endfor%}
{% endblock %}