{% extends "base.jinja" %}

{% block content %}

<form action = "/countries/" method = "POST">
    <div>
        <label for = "country_name">Country name:</label>
        <input type = "text" id="country_name" name="country_name" placeholder="Country name" required autofocus>
    </div>
    <div>
        <label for = "continent">Continent:</label>
        <input type = "text" id = "continent" name = "continent" placeholder="Continent">
    </div>
    <input type="submit" value="submit">
</form>

{% endblock %}