{% extends "base.jinja" %}
{% block content %}
<h1 class="welcome">Welcome to the Bucket List App</h1>
<img class="time_to-travel" src="https://github.com/jengreen080/CodeClan.Week5.Project/blob/main/time_to_travel.png?raw=true" alt="plane flying around earth">
{% endblock %}