{% extends "base.jinja" %}

{% block content %}

<form action = "/places/{{place.place_id}}" method = "POST">
    <div>
        <label for = "place_name">Place name:</label>
        <input type = "text" id="country_name" name="country_name" value = "{{country.country_name}}" required autofocus>
    </div>
    <div>
        <label for = "continent">Continent:</label>
        <input type = "text" id = "continent" name = "continent" value = "{{country.continent}}">
    </div>
    <input type="submit" value="submit">
</form>

{% endblock %}